[submodule "org-mode"]
	path = org-mode
	url = https://code.orgmode.org/bzg/org-mode
[submodule "lisp/code-compass"]
	path = lisp/code-compass
	url = https://github.com/ag91/code-compass
[submodule "lisp/org-habit-plus"]
	path = lisp/org-habit-plus
	url = https://github.com/myshevchuk/org-habit-plus
[submodule "lisp/fira-code-emacs"]
	path = lisp/fira-code-emacs
	url = https://github.com/jasagredo/fira-code-emacs
