.trello/
auto-save-list/
backup/
elpa/
ido.last
projectile-bookmarks.eld
recentf
request/
transient/
.lsp-session-v1
.mc-lists.el
.org-id-locations
eshell/
inits/*.el
tramp
*~
custom.el
.cache
config.el
session.*