auto-save-list/
backup/
elpa/
projectile-bookmarks.eld
recentf
request/
transient/
.lsp-session-v1
.mc-lists.el
.org-id-locations
eshell/
tramp
*~
custom.el
.cache
session.*
*.sqlite
config.el
*.elc
var/